# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Data files (optional)
data/processed/
*.csv

# Model artifacts
*.pkl
*.joblib

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
